.root {
	-fx-background-color: white;
}

#SchoolName {
	-fx-font-size: 20;
	-fx-text-fill: blue;
}

#AppName {
	-fx-font-size: 25;
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

#username, #password {
	-fx-font-size: 18;
}

#username:hover, #password:hover {
	-fx-background-color: azure;
}

#Login {
	-fx-background-color: #4285f4;
	-fx-border-color: #4285f4;
	-fx-text-fill: white;
	-fx-font-size: 18;
}

#Login:hover {
	-fx-opacity: 0.9;
}

#btInHome {
	-fx-font-size: 33;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	
}

#btInHome:hover {
	-fx-opacity: 0.9;
}

#label {
	-fx-font-size: 18;
}